
page-home {
  // assuming you want to style the ion-content component
font-family: 'Sigmar One', cursive;
    .bg-style {
    background: faded
    ;
    .my-label {
      font-size: 2.5em;
    }

}
}
